@font-face {
  font-family: "iconfont"; /* Project id 1161764 */
  src: url('https://cdn.jsdelivr.net/gh/AnonymousMister/font/font/iconfont.woff2?t=1651804105803') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/AnonymousMister/font/font/iconfont.woff?t=1651804105803') format('woff'),
       url('https://cdn.jsdelivr.net/gh/AnonymousMister/font/font/iconfont.ttf?t=1651804105803') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhucedenglu:before {
  content: "\e734";
}

.icon-icon-test:before {
  content: "\e606";
}

.icon-SEO:before {
  content: "\e631";
}

.icon-mima:before {
  content: "\e600";
}

.icon-dianpu1:before {
  content: "\e664";
}

.icon-youlian:before {
  content: "\e60e";
}

.icon-user:before {
  content: "\e619";
}

.icon-chanpin:before {
  content: "\e607";
}

.icon-guanbi:before {
  content: "\e602";
}

.icon-xinwen:before {
  content: "\e6d3";
}

.icon-liuyan:before {
  content: "\e63c";
}

.icon-zaixianliuyan:before {
  content: "\e62f";
}

.icon-zixun:before {
  content: "\e6bf";
}

.icon-fanhuidingbu:before {
  content: "\e62b";
}

